* {
    main-bg:            #251A0EE6;
    main-fg:            #FFE7CC;
    main-br:            #767E70;
    main-ex:            #464134;
    select-bg:          #DCF0AA;
    select-fg:          #465229;
}
