* {
    main-bg:            #261E13E6;
    main-fg:            #A8B09C;
    main-br:            #4F483A;
    main-ex:            #403F39;
    select-bg:          #4B563A;
    select-fg:          #D9E1EC;
}
